.category-page__box--container {
	width: 100%;
	height: fit-content;
	box-sizing: border-box;
}

.category-page__title--page {
	color: white;
}

.category-page__box--no-categories {
	background-color: rgba(0, 0, 0, 0.4);
	color: white;
	padding: 16px;
	border-bottom: 1px solid white;
	border-left: 1px solid white;
}

.category-page__actions--container {
	display: flex;
	flex-direction: row;
	gap: 8px;
	justify-content: flex-end;
	color: white;
}

.category-page__delete--action:hover {
	color: red;
	cursor: pointer;
}

.category-page__icon--action:hover {
	color: rgba(0, 0, 0, 0.4);
	cursor: pointer;
}
