.show-detail__container {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-areas:
		"picture description"
		"video video";
}

.show-detail__picture--container {
	grid-area: picture;
	width: fit-content;
}

.show-detail__description--container {
	grid-area: description;
}

.show-detail__video--container {
	grid-area: video;
}
