.navbar__box--container {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-between;
	padding: 0px 20px 5px 50px;
	background-color: rgba(0, 0, 0, 0.4);
}

.navbar__box--container div {
	margin-top: 35px;
}

.navbar__box--container a {
	color: #f1f1f1;
	margin: 0 20px;
	padding: 0 5px;
	text-decoration: none;
}
.navbar__box--access span {
	color: #f1f1f1;
	margin: 0 20px;
	padding: 0 5px;
	cursor: pointer;
}

.navbar__box--sidebar {
	padding: 0 24px;
}

/* Sidebar */

/* .navbar__box--sidebar a {
	padding: 20px;
	text-decoration: none;
	font-size: 25px;
	color: #000000;
	display: block;
	transition: 0.3s;
} */

.navbar__box--sidebar a:hover {
	background-color: #f1f1f1;
}
