header {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-between;
	padding: 0px 20px;
	background: cadetblue;
}

nav ul {
	margin-top: 40px;
	display: flex;
	flex-direction: row;
	list-style-type: none;
}

nav a {
	margin: 0 20px;
	padding: 0 5px;
	text-decoration: none;
}

.navbar-access {
	margin-top: 40px;
}
