@import url("https://fonts.googleapis.com/css2?family=Abel&family=Architects+Daughter&family=Bebas+Neue&family=Signika+Negative:wght@300;600&display=swap");

* {
	font-family: "Bebas Neue", cursive;
}

header {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-between;
	padding: 0px 20px;
	background: cadetblue;
}

.logo {
	margin-left: 20px;
}

nav ul {
	margin-top: 40px;
	display: flex;
	flex-direction: row;
	list-style-type: none;
}

nav a {
	margin: 0 20px;
	padding: 0 5px;
	text-decoration: none;
}

.navbar-access {
	margin-top: 30px;
	margin-right: 30px;
}

.tag {
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 25px;
}

.text-nav {
	margin-top: 30px;
}
