.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1040;
	width: 100vw;
	height: 100vh;
	background-color: #000;
	opacity: 0.5;
}

.modal-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1050;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	outline: 0;
}

.modal {
	z-index: 100;
	background: white;
	position: relative;
	margin: 1.75rem auto;
	border-radius: 3px;
	max-width: 500px;
	padding: 2rem;
}

.modal-header {
	display: flex;
	align-content: center;
	justify-content: space-between;
}

.modal-close-button {
	cursor: pointer;
	position: absolute;
	right: 20px;
	top: 0px;
	font-size: 40px;
	font-weight: bold;
	opacity: 0.5;
}

.modal-close-button:hover {
	opacity: 1;
	color: black;
}

/* Clear floats */
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

/* Set a style for all buttons */
button {
	background-color: #04aa6d;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.9;
}

button:hover {
	opacity: 1;
}

/* Float cancel and delete buttons and add an equal width */
.cancelbtn,
.confirmbtn {
	float: left;
	width: 50%;
}

/* Add a color to the cancel button */
.cancelbtn {
	background-color: #ccc;
	color: black;
}

/* Add a color to the delete button */
.confirmbtn {
	background-color: #f44336;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
	.cancelbtn,
	.confirmbtn {
		width: 100%;
	}
}
