
*::before {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 75%;
}

body {
    font-size: 1.6rem;
  
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #231d19;
    font-weight: bold;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

a:hover, a:focus {
    background-size: 100% 2px;
    color: white;
}

.logo {
    height: 80px;
    width: 80px;
    cursor: pointer; 
}

.logo img {
    padding-top: 15px;
}

.nav {
    display: flex;
    align-items: center;
    padding-left: 5%; 
    padding-right: 5%; 
    justify-content: space-between;
    height: 8vh;
    background-color: #9b1e74;
}

.nav_brand {
    text-transform: uppercase;
    font-weight: bold;
}

.nav_menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem; 
}


.nav_toggler div {
    width: 2.5rem;
    height: 0.2rem;
    margin: 0.4rem; 
    background: darkgray;
    transition: 0.4s ease-in; 
}

.nav_toggler {
    cursor: pointer;
    display: none;
}

.nav_item {
    font-family: 'Abel', sans-serif;
    font-weight: bold;
}


@media screen and (max-width: 768px) {
    .nav_toggler {
        display:block
    }
    .nav_menu {
        position: fixed;
        top: 7vh;
        right: 0;
        width: 50%;
        height: 93vh;
        background: #9b1e74;
        flex-direction: column;
        transform: translateX(100%);
        transition: 0.5s; 
    }
}

/* Nav active class */
.nav_active {
    transform: translateX(0);
}

/* Togller Icon Animation */
.toggle .line1{
    transform: rotate(-45deg) translate(-4px, 5px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-4px, -5px);
}

